@model IEnumerable<GameStore.ViewModels.PurchaseDateGroup>

@{ 
    ViewBag.Title = "Customer Purchase Statisics";
}

<h2>Customer Purchase Statistics</h2>

<table>
    <tr>
        <th>
            Purchase Date
        </th>
        <th>
            Customers
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PurchaseDate)
            </td>
            <td>
                @item.PurchaseCount
            </td>
        </tr>
    }
</table>
